*{
    background-color: black;
}
#container{
    margin: auto;
    margin-top: 5em;
    color: bisque;
    font-family: 'Lobster', cursive;
    padding: 2em 2em 2em 2em;
    border-radius: 4px;
    background-color:rgb(65, 86, 126);
    width: 20em;
    border: 4px solid gold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

